body {
}

/* PANEL CON INFORMACIÓN DE USUARIO */

.profile_screen-header {
    width: 100%;
    height: 416px;
    border-radius: 5px;
    object-fit: cover;
    border-radius: 1rem;
}

.profile_screen-avatar {
    height: 200px;
    width: 200px;    
    border-radius: 50%;
    object-fit: cover;
}

.forHeader {
    position: absolute;
    top: 5px;
    left: 20px;
}

.forAvatar {
    position: absolute;
    left: 20px;
}

/*******/

/* Panel para crear lista */

#Description {
    resize: none;
}

.profile_screen-trends {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.profile_screen-trends > h5 {
    margin-bottom: 0rem;
}